@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.levelware {
    background-color: #272727 ;
    background: #272727;
    color: white;
}

.trimImg {
    max-height:800px;
    max-width: 620px;
    overflow: hidden;
}

.btnLevelware {
    background-color: #17803d;
    background: #17803d;
    color: white
}

.btnLevelware:hover{
    background-color: #5046e5;
    background: #5046e5;
    color: white;
}
