@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.levelware {
    background-color: #272727 ;
    background: #272727;
    color: white;
}

.trimImg {
    max-height:800px;
    max-width: 620px;
    overflow: hidden;
}
